/*
@mixin center-drums{
    top: 50%;
    left: 5em;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);
}
*/

body{
    background-color: rgb(119, 118, 118);
}

.drum-pad{
    background-color: aquamarine;
    padding: 25px;
    margin: 5px;
}

.button-wrapper{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    //@include center-drums;
    top: 50%;
    left: 10em;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);
}
#machine{
    background-image: repeating-linear-gradient(45deg,gray 5%, black 10%);
    padding: 150px 520px 150px 100px;
    //@include center-drums;
    top: 50%;
    left: 22em;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);
    border: 5px solid white;
}

#text{
    background-color: rgb(194, 184, 184);
    text-align: center;
    height: 40px;
    width: 275px;
    position: absolute;
    left: 10em;
    bottom: 5em;
    border: 2px solid white;
}